#파이썬의 기본
##변수

In [33]:
print("Welcome to Python World")

Welcome to Python World

In [70]:
# 두 수의 합 구하기 !!
a=20
b=30
c=a+b
print(c)

50

In [71]:
# 면적 구하기
width = 15
height = 4
area = width * height
print(area)

60

In [72]:
Rect_width = 15
Rect_height = 4
Rect_area = Rect_width * Rect_height
print(Rect_area)

60

In [73]:
tri_width = 3
tri_height = 4
tri_Area = 0.5 * tri_width * tri_height
print(tri_Area)

6.0

List At["Rectangle", "Triangle"]
-> 데이터 수정, 삭제 가능 / 대괄호

Tuple Bt("Rectangle", "Triangle")
-> 데이터 변경 불가, 소괄호

Create
Read
Update
Delete

딕셔너리
set{'red':'빨간색','yellow':'노란색','blue:파란색','green':'초록색'}
 {} 괄호 사용

#hong = ["홍길동", "170", "서울 강서구 발산동"]
#dict = {"name":"홍길동","키":"170","주소":"서울 강서구 발산동"}
#"name"은 "Key", "홍길동" 은 "Value"
#JSON = Java Script Object Notation

In [74]:
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [75]:
type(x)

int

In [76]:
# 실수형 
x = 3.3764
y = 6/2
print(x,y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [77]:
type(x), type(y)

(float, float)

In [78]:
type(x)
type(y)

float

In [79]:
# 문자열
a = 'x'
b = 'I am OK'
c = '안녕하세요.'
d = "I'm OK"

print(a)
print(b)
print(c)
print(d)
print(type(d))

x
I am OK
안녕하세요.
I'm OK
<class 'str'>

In [80]:
# 숫자와 문자열
a = 30
a, type(a)

(30, int)

In [81]:
b = '30'
b, type(b)

('30', str)

# INDEX
str = 'I am happy!'
print(str[5:])
=> 5번째부터 끝까지
print(str[0:3])
=> 처음부터 3번째까지, 
print(str[-1])
=> 뒤에서 첫 번째

In [82]:
str = 'I am happy!'
print(str[3:])
print(str[-4:])
print(str[3:7])
print(str[-9:-2])

m happy!
ppy!
m ha
am happ

In [83]:
str[4], str[5:9]

(' ', 'happ')

In [84]:
print(c)

안녕하세요.

In [85]:
# Boolean
t = True
f = False
print(t, f)

True False

In [86]:
condition = 10>20
condition

False

In [87]:
type(condition)

bool

# x%3 하였을 시 0이 출력된다면, x는 3의 배수

#산술연산자

In [88]:
a = 22
b = 19
c = a + b * 10 -5 / 5
print(c)

211.0

In [89]:
a=82
b=44
c=a+b*10-5/5
print(c)

521.0

bool 과 int - int 값 출력
int와 float - float 값 출력
float와 str - str값 출력

In [90]:
x=2**15
print(x)

32768

In [91]:
# 나머지와 몫
x = 10%3
y = 10//3
x, y

(1, 3)

In [92]:
9/3

3.0

In [93]:
9//3

3

# 9/3 - 소숫점까지 나옴, 9//3 - 소숫점 이하 절삭

In [94]:
# 할당연산자
x = 10
x += 20
x

30

# x += a => x=x+a
# x -= a => x=x-a
# x *= a => x=x*a

In [95]:
# 문자열 반복
hello = '안녕'*5
hello

'안녕안녕안녕안녕안녕'

In [96]:
# 문자열 길이 : len()
a = '쥐 구멍에 볕 들 날 있다.'
b = len(a)
b

15

# 영문자 : 1글자에 1 byte
# 한글 : 1) EUC-KR (국가표준), 1글자에 2 byte
#    2) utf-8 : 초성, 중성, 종성 각 1 byte로 하여 총 3 byte
# => Web, DB, etc... 에서는 대개 utf-8로 한글 입력 시 문제 없음.

In [97]:
len('나는 Python을 좋아합니다.')

17

In [98]:
len('나는 파이썬을 좋아합니다.')

14

In [99]:
# 문자열 연결
name ='이현수'
greet = name+'님 안녕하세요!'
greet

'이현수님 안녕하세요!'

In [100]:
# 문자열 연결시 주의사항
eng = 80
result = '영어점수 :'+eng+'점'
result

TypeError: can only concatenate str (not "int") to str

In [101]:
# 문자열 연결시 주의사항
eng = 80
result = '영어점수 : ' + str(eng) + '점'
result

TypeError: 'str' object is not callable

# 숫자, 한글, 문자가 같이 나올 시 처리가 되지 않음.
# type을 변환시켜주어야함 / 정수를 string으로,
# str(eng), str(kor), str(jpn) 등...

In [102]:
# 문자열 포맷팅 : %d
result = '영어점수 : %d점' % 80
result

'영어점수 : 80점'

# %d = decimal(정수)
# %f = float (실수)
# %s = string (문자열)
# %5d = 5자리
# %8.2f = 전체길이 8자리, 소숫점 2자리

In [103]:
year = 2020
month = 8
day = 27

date = '%d-%02d-%02d'% (year, month, day)
date

'2020-08-27'

# %02d ->빈 자리는 0으로 채우고 2글자로 맞춰라
# => 정수형 숫자 2자리, 남는 부분을 0으로 채움.

In [104]:
height = 172.5
a = '키는 %.3f입니다.' %height
a

'키는 172.500입니다.'

In [105]:
# format() 활용
name = '이현수'
age = 25
eyesight = 1.8

a = '이름 : {}'.format(name)
b = '나이 : {}'.format(age)
c = '시력 : {}'.format(eyesight)

a, b, c

('이름 : 이현수', '나이 : 25', '시력 : 1.8')

In [106]:
# 문자열 메소드
hello.count('안')

5

In [107]:
a.find('름')

1

In [108]:
a.find('이')

0

In [109]:
b.find('이')

1

In [110]:
a.find('나')

-1

In [111]:
a.find('력')

-1

# yes = 0 / no = 1 / error = -1

In [112]:
# str.split()
names = '김,이,박,최,정'
first_names = names.split(',')
first_names

['김', '이', '박', '최', '정']

# 여러 단어가 있을 때 각 단어 하나하나에 '' 추가 가능

In [113]:
a=10
b=20
print(a,b,sep='   ')

10   20

#carrige return = 처음으로
#line feed = 다음 행으로

## 실행결과 출력

In [114]:
# 콤마
print(name, age, eyesight)

이현수 25 1.8

In [115]:
# sep
print(year,month,day,sep='/')
print(year,month,day,sep='.')

2020/8/27
2020.8.27

In [116]:
# end
print(year,month,day)
print(name, age, eyesight, end='\n\n')
print(year,month,day,end='   ')
print(year,month,day,end='\n\n')

2020 8 27
이현수 25 1.8

2020 8 27   2020 8 27

In [117]:
print(name, age, eyesight, sep='/', end=' ')
print(year,month,day, sep='-', end='\n\n')

이현수/25/1.8 2020-8-27

#keyword argument = sep, end ...
#position argument = 변수
#* keyword argument는 항상 position argument 뒤에 와야함.

In [118]:
# 키보드 입력
name = input('이름을 입력하세요 : ')
print('%s님 반갑습니다.'%name)

이름을 입력하세요 :
님 반갑습니다.

In [125]:
a = input('첫 번째 숫자')
b = input('두 번째 숫자')
c = int(a) + int(b)
c

첫 번째 숫자5
두 번째 숫자1

6

In [126]:
first = input('첫 번째 숫자')
second = input('두 번째 숫자')

첫 번째 숫자6
두 번째 숫자4

In [127]:
sum = first + second
sum

'64'

In [128]:
sum = int(first) + int(second)
sum

10

In [120]:
inch = float(input('인치(inch)를 입력하세요 : '))

cm = inch * 2.54

print('센티미터 : %.2f'%cm)

인치(inch)를 입력하세요 : 11
센티미터 : 27.94

In [121]:
inch = float(input('인치(inch)를 입력하세요 : '))

인치(inch)를 입력하세요 : 11

In [122]:
cm = inch * 2.54

print('Inch: %.2f ==> 센티미터 : %.2f'%(inch,cm))

Inch: 11.00 ==> 센티미터 : 27.94

## 주석문(Comment)

In [123]:
# 한 줄 짜리 주석문
cm = inch * 2.54 # 인치를 센티미터로 변환

In [124]:
'''
이 사이에는 여러 줄 짜리 주석문이 올 수 있습니다.
프로그램명 : 두 수 더하기
'''

'\n이 사이에는 여러 줄 짜리 주석문이 올 수 있습니다.\n프로그램명 : 두 수 더하기\n'

In [65]:
width = 10
height = 3
area = width * height /2
print('삼각형의 밑변 길이 :', width)
print('삼각형의 높이 :', height)
print('삼각형의 면적:',area)

삼각형의 밑변 길이 : 10
삼각형의 높이 : 3
삼각형의 면적: 15.0

In [66]:
price = 800
buy = 3
pay = 5000
change = pay - price * buy
print('물건가격:',price,'원')
print('구매개수:',buy,'개')
print('지불금액:',pay,'원')
print('거스름돈:',change,'원')

물건가격: 800 원
구매개수: 3 개
지불금액: 5000 원
거스름돈: 2600 원

In [67]:
x = 20
y = 4

x = y%x
print(x)

y -= x*2
print(x,y)

4
4 -4

In [68]:
name = "홍길동"
age = 30
height = 171.5
print('성:',first_name["홍"])
print('이름:',last_name["길동"])
print("홍길동의 나이 : 30세, 키 : 171.5cm"%(name, age, height))

NameError: name 'first_name' is not defined

In [69]:
name = input('학생 이름을 입력하세요 :')
kor = float(input('국어 성적을 입력하세요 :'))
eng = float(input('영어 성적을 입력하세요 :'))
math = float(input('수학 성적을 입력하세요:'))

sum = kor + eng + math
avg = sum /3

print('이름:황예린, 국어:%d, 영어:%d, 수학:%d, 평균:%.1f점'%(name, kor, eng, math, avg))

학생 이름을 입력하세요 :황예린
국어 성적을 입력하세요 :83
영어 성적을 입력하세요 :85
수학 성적을 입력하세요:91

TypeError: %d format: a number is required, not str