#파이썬의 기본
##변수

In [4]:
print("Welcome to Python World")

Welcome to Python World

In [6]:
# 두 수의 합 구하기 !!
a=20
b=30
c=a+b
print(c)

50

In [7]:
# 면적 구하기
width = 15
height = 4
area = width * height
print(area)

60

In [10]:
Rect_width = 15
Rect_height = 4
Rect_area = Rect_width * Rect_height
print(Rect_area)

60

In [11]:
tri_width = 3
tri_height = 4
tri_Area = 0.5 * tri_width * tri_height
print(tri_Area)

6.0

List At["Rectangle", "Triangle"]
-> 데이터 수정, 삭제 가능 / 대괄호

Tuple Bt("Rectangle", "Triangle")
-> 데이터 변경 불가, 소괄호

Create
Read
Update
Delete

딕셔너리
set{'red':'빨간색','yellow':'노란색','blue:파란색','green':'초록색'}
 {} 괄호 사용

#hong = ["홍길동", "170", "서울 강서구 발산동"]
#dict = {"name":"홍길동","키":"170","주소":"서울 강서구 발산동"}
#"name"은 "Key", "홍길동" 은 "Value"
#JSON = Java Script Object Notation

In [33]:
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [35]:
type(x)

int

In [36]:
# 실수형 
x = 3.3764
y = 6/2
print(x,y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [39]:
type(x), type(y)

(float, float)

In [40]:
type(x)
type(y)

float

In [42]:
# 문자열
a = 'x'
b = 'I am OK'
c = '안녕하세요.'
d = "I'm OK"

print(a)
print(b)
print(c)
print(d)
print(type(d))

x
I am OK
안녕하세요.
I'm OK
<class 'str'>

In [43]:
# 숫자와 문자열
a = 30
a, type(a)

(30, int)

In [44]:
b = '30'
b, type(b)

('30', str)

# INDEX
str = 'I am happy!'
print(str[5:])
=> 5번째부터 끝까지
print(str[0:3])
=> 처음부터 3번째까지, 
print(str[-1])
=> 뒤에서 첫 번째

In [60]:
str = 'I am happy!'
print(str[3:])
print(str[-4:])
print(str[3:7])
print(str[-9:-2])

m happy!
ppy!
m ha
am happ

In [61]:
str[4], str[5:9]

(' ', 'happ')

In [64]:
print(c)

안녕하세요.

In [65]:
# Boolean
t = True
f = False
print(t, f)

True False

In [67]:
condition = 10>20
condition

False

In [68]:
type(condition)

bool

# x%3 하였을 시 0이 출력된다면, x는 3의 배수

#산술연산자

In [74]:
a = 22
b = 19
c = a + b * 10 -5 / 5
print(c)

211.0

In [73]:
a=82
b=44
c=a+b*10-5/5
print(c)

521.0

bool 과 int - int 값 출력
int와 float - float 값 출력
float와 str - str값 출력