# Unit22. 리스트와 튜플 응용하기

# 리스트 조작

## append : 요소 하나를 추가
## extend : 리스트를 연결하여 확장
## insert : 특정 인덱스에 요소 추가

In [3]:
a = [10, 20, 30]
a.append(500)
a

[10, 20, 30, 500]

In [9]:
a.append([3, 4, 5])
a

[10,
 20,
 30,
 500,
 [3, 4, 5],
 [3, 4, 5],
 [3, 4, 5],
 [3, 4, 5],
 [3, 4, 5],
 [3, 4, 5]]

In [10]:
len(a)

10

In [11]:
import random as rd

In [70]:
b = [1,2,3,4,5,6]
for i in range(3):         #세로 
    for k in range(6):     #가로
        print(rd.choice(b), sep='', end=' ')
    print()

3 5 3 4 4 6
4 1 1 6 5 3
5 4 6 6 1 1

In [59]:
# 3 x 6 list에 1 ~ 6 랜덤값 채우기
mat = []
for i in range(3): # 행의 갯수
    row = []
    for k in range(6): # 열의 갯수
        row.append(rd.randint(1,6))
    mat.append(row)

In [60]:
def print_matrix(mat):
    for row in mat:
        for element in row:
            print(element, sep=' ', end=' ')
        print()

In [61]:
print_matrix(mat)

1 1 4 6 5 1
3 6 5 2 3 1
1 3 6 5 3 3

In [62]:
def old_print_matrix(mat):
    for i in range(len(mat)):
        for k in range(len(mat[0])):
            print(mat[i][k], end=' ')
        print()

In [63]:
old_print_matrix(mat)

1 1 4 6 5 1
3 6 5 2 3 1
1 3 6 5 3 3

In [71]:
a

[10,
 20,
 30,
 500,
 [3, 4, 5],
 [3, 4, 5],
 [3, 4, 5],
 [3, 4, 5],
 [3, 4, 5],
 [3, 4, 5]]

[10, 20, 30, 500, [3, 4, 5]]

In [96]:
a.index(30)

2

In [97]:
a.append(30)

In [98]:
a.count(30)

2

In [117]:
a.reverse()
a

[10, 20, 30]

In [135]:
a.sort()
a

[10, 20, 30, 40, 50, 60]

In [139]:
a = [10, 20, 30, 15, 20, 40]
a

[10, 20, 30, 15, 20, 40]

In [140]:
b = [10, 20, 30, 15, 20, 40]
sorted(b)

[10, 15, 20, 20, 30, 40]

In [143]:
b 
# sorted(b)의 내용은 바뀌지 않고 보여주기식으로만 바뀜

[10, 20, 30, 15, 20, 40]

In [165]:
a = [10, 20, 30]
a[3:] = [40]
a

[10, 20, 30, 40]

In [166]:
a[4:] = [50]
a

[10, 20, 30, 40, 50]

# 리스트 할당과 복사

In [173]:
a = [0, 0, 0, 0, 0]
b = a

In [174]:
b

[0, 0, 0, 0, 0]

In [178]:
b[2] = 20
b

[0, 0, 20, 0, 0]

In [179]:
a

[0, 0, 20, 0, 0]

In [182]:
a is b

True

In [184]:
a = [0, 0, 0, 0, 0]
b = a.copy()
b[2] = 2
a
# a.copy() 사용 시 a는 안 바뀌어있음.

[0, 0, 0, 0, 0]

In [185]:
b

[0, 0, 2, 0, 0]

In [189]:
b[2] = 99

In [190]:
a

[0, 0, 0, 0, 0]

In [191]:
b

[0, 0, 99, 0, 0]

In [192]:
a = [38, 21, 53, 62, 19]
for i in a:
    print(i)

38
21
53
62
19

## 반복문으로 출력하기

In [197]:
a = [38, 21, 53, 62, 19]
for index, value in enumerate(a):
    print(index+1, value)

1 38
2 21
3 53
4 62
5 19

## 유용한 함수

In [217]:
# 가장 작은 수는?
a = [38, 21, 53, 62, 19]
small = a[0]
large = a[1]
for i in range(1, len(a)):
    if a[i] < small:
        small = a[i]
    if a[i] > large:
        large = a[i]
print(small)
print(large)

19
62

In [218]:
# 가장 큰 수는?
a = [38, 21, 53, 62, 19]
large = a[0]
for i in range(1, len(a)):
    if a[i] > large:
        large = a[i]
print(large)

62

In [219]:
a.sort()
print(a[0], a[-1])
# 오름차순으로 정렬하여 첫 값(최소) 마지막 값(최대) 출력.

19 62

# List 표현식 (List Comprehension)

## [식 for 변수 in 리스트]
## list(식 for 변수 in 리스트)

In [225]:
# 1에서 10까지 제곱수를 리스트로 만드시오
a = []
for i in range(1, 11):
    a.append(i*i)
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [230]:
a_new = [i*i for i in range(1, 11)]
a_new
# for i in range(1, 11)로 1~10까지 추출, *i 를 통해 제곱하여 출력

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [233]:
# 홀수
a_odd = [i*i for i in range(1, 11) if i%2 == 1]
a_odd

[1, 9, 25, 49, 81]

In [236]:
# 구구단
a_x = [i*k for i in range(2,10) 
           for k in range(1,10)]
print(a_x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

# map 함수

In [244]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [250]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
a

[1, 2, 3, 4]

In [286]:
a = list(map(int, input('숫자 입력: ').split()))
a

숫자 입력: 1 2 3 4

[1, 2, 3, 4]

In [264]:
x, y = map(int, [2.1, 4.9])
x

2

In [267]:
hour, minute, second = map(int, input('hh:mm:ss> ').split(':'))
print(hour, minute, second)

hh:mm:ss> 11:38:53
11 38 53

In [271]:
hour, minute, second = map(int, input('hh:mm:ss> ').split(':'))
print(f'{hour=}, {minute=}, {second=}')

hh:mm:ss> 11:40:35
hour=11, minute=40, second=35

In [272]:
year, month, day = map(int, input('yy-mm-dd> ').split('-'))
print(f'{year=}, {month=}, {day=}')

yy-mm-dd> 20-10-30
year=20, month=10, day=30

## 튜플

In [273]:
a = (38, 21, 53, 62, 19, 53)
a.index(21)

1

In [279]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
[i for i in a if len(i) == 5]

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [283]:
# 구구단
a_x = [2*k for i in range(2,10) 
           for k in range(1,10)]
print(a_x)
# for i in range(1, 11)로 1~10까지 추출, *i 를 통해 제곱하여 출력

[2, 4, 6, 8, 10, 12, 14, 16, 18, 2, 4, 6, 8, 10, 12, 14, 16, 18, 2, 4, 6, 8, 10, 12, 14, 16, 18, 2, 4, 6, 8, 10, 12, 14, 16, 18, 2, 4, 6, 8, 10, 12, 14, 16, 18, 2, 4, 6, 8, 10, 12, 14, 16, 18, 2, 4, 6, 8, 10, 12, 14, 16, 18, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [284]:
a = list(map(int, input('숫자 입력: ').split()))
a

숫자 입력: 1 10

[1, 10]