# Unit 25. 딕셔너리

In [3]:
# 딕셔너리 만들기
d = { }
d = dict()

In [10]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.setdefault('e')
x.setdefault('f', 250)
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 250}

In [16]:
# 키가 문자열일 때
x.update(e=85)
x

{'a': 100, 'b': 20, 'c': 30, 'd': 400, 'e': 85, 'f': 250, 'g': 90, 'h': 75}

In [13]:
x.update(g=90)
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 85, 'f': 250, 'g': 90}

In [15]:
x.update(a=100,d=400,h=75)
x

{'a': 100, 'b': 20, 'c': 30, 'd': 400, 'e': 85, 'f': 250, 'g': 90, 'h': 75}

In [17]:
y = {1: 'one', 2: 'two'}
y.update({1: 'ONE', 3: 'THREE'})
y

{1: 'ONE', 2: 'two', 3: 'THREE'}

In [18]:
y.update([[2, 'TWO'], [4, 'FOUR']])
y

{1: 'ONE', 2: 'TWO', 3: 'THREE', 4: 'FOUR'}

In [21]:
y.update(zip([1, 2], ['one', 'two']))
y
# setdefault는 값 변경 불가, update만 가능.

{1: 'one', 2: 'two', 3: 'THREE', 4: 'FOUR'}

In [22]:
# 엘리먼트 삭제
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.pop('a')
x

{'b': 20, 'c': 30, 'd': 40}

In [27]:
z= x.pop('b')
x,z

({'c': 30, 'd': 40}, 20)

In [29]:
z = x.pop('c', 0)
z
x

{'d': 40}

In [31]:
x.update(zip(['a','b','c'], [10, 20, 30]))
x

{'d': 40, 'a': 10, 'b': 20, 'c': 30}

In [32]:
del x['d']
x

{'a': 10, 'b': 20, 'c': 30}

In [33]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.clear()
x

{}

In [38]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.get('d')
# x['d']

40

In [37]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.get('z', 0)

0

In [39]:
# 딕셔너리에서 키-값 쌍을 모두 가져오기
# items : 키-값 쌍을 모두 가져옴
# keys : 키를 모두 가져옴
# values : 값을 모두 가져옴
# 이용하여 For loop을 돌릴 수 있음.

In [40]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.items()

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [41]:
x.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [43]:
x.values()

dict_values([10, 20, 30, 40])

In [46]:
for key, value in x.items():
    print(key, value)

a 10
b 20
c 30
d 40

In [48]:
for key in x.keys():
    print(key, x[key])

a 10
b 20
c 30
d 40

In [49]:
# 리스트와 튜플로 딕셔너리 만들기

In [51]:
keys = ['a', 'b', 'c', 'd']
x = dict.fromkeys(keys)
x

{'a': None, 'b': None, 'c': None, 'd': None}

In [52]:
y = dict.fromkeys(keys, 100)
y

{'a': 100, 'b': 100, 'c': 100, 'd': 100}

## 딕셔너리와 for 반복문

In [53]:
 x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for i in x:
    print(i, end=' ')

a b c d

In [54]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for key, value in x.items():
    print(key, value)

a 10
b 20
c 30
d 40

In [59]:
for key in x.keys():
    print(key, x[key], x.get(key))

a 10 10
b 20 20
c 30 30
d 40 40

In [62]:
for value in x.values():
    print(value)

10
20
30
40

## 딕셔너리 표현식

In [63]:
keys = ['a', 'b', 'c', 'd']
x = {key: value for key, value in dict.fromkeys(keys).items()}
x

{'a': None, 'b': None, 'c': None, 'd': None}

In [64]:
keys = ['a', 'b', 'c', 'd']
x = {key: value for key, value in dict.fromkeys(keys, 0).items()}
x

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [66]:
# 키-밸류값 서로 바꾸기
{value: key for key, value in {'a': 10, 'b': 20, 'c': 30, 'd': 40}.items()}

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

In [67]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for key, value in x.items():
    if value == 20: # 값이 20이면
        del x[key]  # 키-값 쌍 삭제
x

RuntimeError: dictionary changed size during iteration

In [68]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items() if value != 20}
# value가 20이 아닌 것으로만 key, 전체 중 20인 것만 제외하고 생성
x

{'a': 10, 'c': 30, 'd': 40}

In [69]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items() if value < 25}
# value가 25 이하인 것으로만 key, 전체 중 25 이상인 것만 제외하고 생성
x

{'a': 10, 'b': 20}

## Nested Dictionary

In [70]:
# 딕셔너리 = {키1: {키A : 값A}, 키2: {키B: 값B}}

In [73]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
 
print(terrestrial_planet['Mars']['mass'])

6.4185e+23

In [113]:
for outer_key, outer_value in terrestrial_planet.items():
    print(outer_key)
    for inner_key, inner_value in outer_value.items():
        print('\t', inner_key, inner_value)

Mercury
	 mean_radius 2439.7
	 mass 3.3022e+23
	 orbital_period 87.969
Venus
	 mean_radius 6051.8
	 mass 4.8676e+24
	 orbital_period 224.70069
Earth
	 mean_radius 6371.0
	 mass 5.97219e+24
	 orbital_period 365.25641
Mars
	 mean_radius 3389.5
	 mass 6.4185e+23
	 orbital_period 686.96

## 딕셔너리의 할당과 복사

In [79]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
y = x
y['d'] = 99
x

{'a': 10, 'b': 20, 'c': 30, 'd': 99}

In [81]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
y = x.copy()
y['d'] = 99
x
# 1차원에서는 값이 따로 할당되지만 2차원(중첩)일 경우 똑같이 변함.

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [82]:
# 중첩 딕셔너리일 경우에는 copy 대신 deepcopy 사용

In [85]:
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
y = x.copy()
x

{'a': {'python': '2.7'}, 'b': {'python': '3.6'}}

In [86]:
y['a']['python'] = '2.7.15'
x

{'a': {'python': '2.7.15'}, 'b': {'python': '3.6'}}

In [87]:
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
import copy
y = copy.deepcopy(x)
y['a']['python'] = '2.7.15'
x

{'a': {'python': '2.7'}, 'b': {'python': '3.6'}}

In [90]:
maria = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}
average = sum(maria.values()) / len(maria)
print(average)

89.25

In [110]:
keys = input().split()
values = map(int, input().split())
x = dict(zip(keys, values))

alpha bravo charlie delta
10 20 30 40

In [111]:
del x['delta']
x = {key:value for key, value in x.items() if value != 30}
x

{'alpha': 10, 'bravo': 20}