# Unit 26. 세트 사용하기

In [3]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
fruits
# 중복허용 X, 순서보장 X

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}

In [4]:
type(fruits)

set

In [6]:
fruits[0]
# 순서보장 되지 않기 때문에 사용 불가.

TypeError: 'set' object is not subscriptable

In [7]:
'orange' in fruits

True

In [9]:
'peach' in fruits

False

In [10]:
a = set('apple')
a

{'a', 'e', 'l', 'p'}

In [12]:
b= set(range(5))
b

{0, 1, 2, 3, 4}

In [13]:
c = set()
c

set()

In [22]:
d = set('안녕하세요')
d

{'녕', '세', '안', '요', '하'}

### 집합 연산

In [24]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a|b
# | = union

{1, 2, 3, 4, 5, 6}

In [26]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [28]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
c = {5, 6, 7, 8}
set.union(a,b,c)

{1, 2, 3, 4, 5, 6, 7, 8}

In [30]:
# 교집합
a&b

{3, 4}

In [31]:
set.intersection(a, b)

{3, 4}

In [32]:
# 차집합
a-b

{1, 2}

In [33]:
set.difference(a,b)

{1, 2}

In [34]:
# 여집합
a^b

{1, 2, 5, 6}

In [35]:
set.symmetric_difference(a,b)

{1, 2, 5, 6}

In [36]:
a = {1,2,3,4}
a |= {5}
a

{1, 2, 3, 4, 5}

In [37]:
a = {1,2,3,4}
a.update({5})
a

{1, 2, 3, 4, 5}

In [38]:
a = {1,2,3,4}
a &= {0,1,2,3,4}
a

{1, 2, 3, 4}

In [39]:
a = {1,2,3,4}
a. intersection_update({0,1,2,3,4})
a

{1, 2, 3, 4}

In [40]:
a = {1,2,3,4}
a -={3}
a

{1, 2, 4}

In [41]:
a = {1,2,3,4}
a.difference_update({3})
a

{1, 2, 4}

In [42]:
a = {1,2,3,4}
a ^= {3,4,5,6}
a

{1, 2, 5, 6}

In [43]:
a = {1,2,3,4}
a.symmetric_difference_update({3,4,5,6})
a

{1, 2, 5, 6}

In [45]:
# 부분 집합과 상위집합 확인하기
# 현재세트 <= 다른세트
# 현재세트.issubset(다른 세트)

In [44]:
a = {1,2,3,4}
a <= {1,2,3,4}

True

In [46]:
a = {1,2,3,4}
a.issubset({1,2,3,4,5})

True

In [47]:
a = {1,2,3,4}
b = {1,5,6,7,8}
a <= b

False

In [48]:
# 진부분집합 : 부분집합이지만 같지는 않을 때
a = {1,2,3,4}
a < {1,2,3,4,5}

True

In [49]:
a.issuperset({1,2,3,4})

True

In [50]:
# 진상위집합 : 상위집합이지만 같지는 않을 때
a = {1,2,3,4}
a > {1,2,3}

True

In [51]:
# 세트가 같은지 다른지 확인하기
a = {1,2,3,4}
a == {1,2,3,4}

True

In [52]:
a = {1,2,3,4}
a == {4,2,1,3}

True

In [55]:
a = {1,2,3,4}
a == {1,2,3}

False

In [56]:
a = {1,2,3,4}
a != {1,2,3}

True

In [57]:
# 세트가 겹치지 않는지 확인하기

In [60]:
a = {1,2,3,4}
a.isdisjoint({5,6,7,8}) # 겹치는 요소가 없음

True

In [61]:
a = {1,2,3,4}
a.isdisjoint({5,6,3,4}) # a와 3, 4가 겹침

False

In [62]:
a = {1,2,3,4}
a.add(5)          # a |= {5}, a.update({5})와 같은 결과
a

{1, 2, 3, 4, 5}

In [63]:
a.remove(3)
a

{1, 2, 4, 5}

In [65]:
a.discard(3)
a

{1, 4, 5}

In [68]:
a = {1,2,3,4}
a.pop()
a

{2, 3, 4}

In [69]:
a.clear()
a

set()

In [70]:
a = {1,2,3,4}
len(a)

4

In [71]:
a = {1,2,3,4}
b = a

In [72]:
a is b

True

In [74]:
b.add(5)
a

{1, 2, 3, 4, 5}

In [75]:
b

{1, 2, 3, 4, 5}

In [76]:
a = {1,2,3,4}
b = a.copy()

In [77]:
a is b

False

In [78]:
a == b

True

In [79]:
a = {1,2,3,4}
b = a.copy()
b.add(5)
a

{1, 2, 3, 4}

In [80]:
b

{1, 2, 3, 4, 5}

In [81]:
a = {1,2,3,4}
for i in a:
    print(i)

1
2
3
4

In [82]:
for i in {1,2,3,4}:
    print(i)

1
2
3
4

In [83]:
a = {i for i in 'apple'}
a

{'a', 'e', 'l', 'p'}

In [85]:
a = {i for i in 'pineapple' if i not in 'apl'}
a
# pineapple 이라는 단어 중에 a, p, l을 제외하고 출력

{'e', 'i', 'n'}

In [89]:
x = {i for i in range(1, 101) if i % 3 == 0}
y = {i for i in range(1, 101) if i % 5 == 0}
print(x & y)

{75, 45, 15, 90, 60, 30}

In [91]:
a = {i for i in range(1, 101) if i / 3 == 0}
b = {i for i in range(1, 101) if i / 5 == 0}
divisor = a & b
result = 0
if type(divisor) == set:
    result = sum(divisor)
print(result)

0

In [92]:
years_list = [2000, 2001, 2002, 2003, 2004]

In [100]:
years_list[-1]

2004

In [101]:
things = ['mozzarella', 'cinderella', 'salmonella']
things

['mozzarella', 'cinderella', 'salmonella']

In [106]:
things[1].capitalize()

'Cinderella'

In [107]:
things[0].upper()

'MOZZARELLA'

In [110]:
things[-1]
things

['mozzarella', 'cinderella']

In [111]:
surprise = ['Groucho', 'Chico', 'Harpo']
surprise

['Groucho', 'Chico', 'Harpo']

In [119]:
surprise[-1].lower()

'harpo'

In [120]:
surprise

['Groucho', 'Chico', 'Harpo']

In [126]:
number_list = [number for number in range(1,10) if number %2 == 0]

In [127]:
number_list

[2, 4, 6, 8]

In [130]:
start1 = ["fee", "fie", "foe"]
rhymes = [
    ("flop", "get a mop"),
    ("fope", "turn the rope"),
    ("fa", "get your ma"),
    ("fudge", "call the judge"),
    ("fat", "pet the cat"),
    ("fog", "walk the dog"),
    ("fun", "say we're done"),
]
start2 = "Someone better"

In [131]:
start1

['fee', 'fie', 'foe']

In [132]:
rhymes

[('flop', 'get a mop'),
 ('fope', 'turn the rope'),
 ('fa', 'get your ma'),
 ('fudge', 'call the judge'),
 ('fat', 'pet the cat'),
 ('fog', 'walk the dog'),
 ('fun', "say we're done")]

In [133]:
start2

'Someone better'

In [136]:
start01 = ' '.join(word.capitalize() + "!" for word in start1)

In [150]:
for first, second in rhymes:
    print(f"{start01}{first.capitalize()}!")
    print(f"{start2} {second}.")

Fee! Fie! Foe!Flop!
Someone better get a mop.
Fee! Fie! Foe!Fope!
Someone better turn the rope.
Fee! Fie! Foe!Fa!
Someone better get your ma.
Fee! Fie! Foe!Fudge!
Someone better call the judge.
Fee! Fie! Foe!Fat!
Someone better pet the cat.
Fee! Fie! Foe!Fog!
Someone better walk the dog.
Fee! Fie! Foe!Fun!
Someone better say we're done.