# Unit 30. 함수에서 위치 인수와 키워드 인수 사용하기

## 위치 인수와 리스트 언패킹

In [2]:
# 위치 인수(mandatory) - 반드시 필요한 arg 일 때 사용
# 키워드 인수 - option, 그래프를 그릴 때 막대형, 선형, 도넛형을 그릴 것인지...

In [5]:
def print_numbers(a, b, c):
    print(a)
    print(b)
    print(c)

In [7]:
print_numbers(10, 20, 30)

10
20
30

In [15]:
x = [10, 20, 30]
print_numbers(*x)
# 리스트(튜플) 앞에 *를 붙이면 언패킹이 됨.
# *x는 포인터가 가리키는 값

10
20
30

In [16]:
print_numbers(*(40, 50, 60))

40
50
60

In [17]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [21]:
print_numbers(10, 20, 30, 40, 50, 60)

10
20
30
40
50
60

In [22]:
x = [10, 20, 30, 40, 50]
print_numbers(*x)

10
20
30
40
50

In [ ]:
# *args : 가변위치인수

In [ ]:
# 고정인수와 가변인수 함께 사용하기

In [25]:
def print_numbers(a, *args):
    print(a)
    for arg in args:
        print(arg)

In [26]:
print_numbers(10, 20, 30, 40, 50, 60)

10
20
30
40
50
60

# 키워드 인수

In [28]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [29]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [30]:
personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [31]:
personal_info(age=30, address='서울시 용산구 이촌동', name='홍길동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

## 키워드 인수와 딕셔너리 언패킹

In [34]:
x = {'age': 30, 'address':'서울시 용산구 이촌동', 'name':'홍길동'}
personal_info(**x)
# 튜플, 리스트 언패킹은 * 1개
# 딕셔너리 언패킹은 * 2개

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [35]:
personal_info(**{'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'})

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [37]:
personal_info(*x)

이름:  age
나이:  address
주소:  name

In [38]:
personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [ ]:
# * 1개는 키 값, * 2개는 밸류 값.

## 가변 키워드인수를 갖는 함수 만들기

In [42]:
def personal_info(**kwargs): # Keyword Arguments
    for kw, arg in kwargs.items():
        print(kw, ': ', arg, sep='')

In [46]:
personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')

name: 홍길동
age: 30
address: 서울시 용산구 이촌동

In [47]:
personal_info(name='홍길동', age=30)

name: 홍길동
age: 30

In [51]:
def personal_info(**kwargs):
    if 'name' in kwargs:    # in으로 딕셔너리 안에 특정 키가 있는지 확인
        print('이름: ', kwargs['name'])
    if 'age' in kwargs:
        print('나이: ', kwargs['age'])
    if 'address' in kwargs:
        print('주소: ', kwargs['address'])

## 고정인수와 가변인수(키워드인수)를 함께 사용하기

In [54]:
def personal_info(name, **kwargs):
    print(name)
    print(kwargs)

In [57]:
personal_info('홍길동', age=30, address='서울시 용산구 이촌동')

홍길동
{'age': 30, 'address': '서울시 용산구 이촌동'}

## 위치인수와 가변인수(키워드인수)를 함께 사용하기

In [58]:
def custom_print(*args, **kwargs):
    print(*args, **kwargs)

In [59]:
custom_print(1, 2, 3, sep=':', end='END\n')

1:2:3END

In [60]:
custom_print(1, 2, 3, 4)

1 2 3 4

## 고정인수, 가변 위치인수, 키워드인수 함께 사용하기

In [63]:
def custom_print(a, b, *args, **kwargs):
    print(a, b, *args, **kwargs)

# 매개변수에 초깃값 지정하기

In [64]:
 def personal_info(name, age, address='비공개'):
        print('이름: ', name)
        print('나이: ', age)
        print('주소: ', address)

In [65]:
personal_info('홍길동', 30)

이름:  홍길동
나이:  30
주소:  비공개

In [67]:
 def personal_info(name, address='비공개', age=0):
        print('이름: ', name)
        print('나이: ', age)
        print('주소: ', address)

In [68]:
personal_info('홍길동', 30)

이름:  홍길동
나이:  0
주소:  30

In [77]:
korean, english, mathematics, science = 100, 86, 81, 91
def get_max_score(*args):
    return max(args)
max_score = get_max_score(korean, english, mathematics, science)
print('높은 점수:', max_score)
 
max_score = get_max_score(english, science)
print('높은 점수:', max_score)

높은 점수: 100
높은 점수: 91

In [89]:
korean, english, mathematics, science = map(int, input().split())
def get_min_max_score(*args):
    return min(args), max(args)
def get_average(**kwargs):
    return (sum(kwargs.values())/len(kwargs))
min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

76 82 89 84
낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수: 82.00, 높은 점수: 84.00, 평균 점수: 83.00

In [ ]:
min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))