In [2]:
# 조건문
x = int(input('숫자를 입력하세요 : '))
if x>0 :
    print('양수!')
else : 
    print('0 또는 음수!')

숫자를 입력하세요 : 1
양수!

In [3]:
# 양수판별
n = int(input('정수 입력>'))

정수 입력>1

In [4]:
if n>0 :
    print('%d은/는 양수' %n)
else :
    print('%d은/는0 또는 음수'%n)

1은/는 양수

# 파이썬에서는 if 조건식 뒤에 :가 붙고,
# (    ) - 4칸 만큼의 공백을 두고 결과 출력.
# 4칸이 아닌 3, 5칸 입력 시 indentation error 발생

In [5]:
x = 10
y = 3

print (x>9) #x가 9보다 큰가?
print (y<=10) #y가 10보다 작거나 같은가?
print (x+y==13) # x+y가 13과 같은가?
print (x%2==0) #x를 2로 나눈 나머지가 0인가? 즉, 짝수인가?
print (y%2==0) #y를 2로 나눈 나머지가 0인가? 즉, 짝수인가?
print (x%4==0) #x가 4의 배수인가?
print (y%3 !=0) # y는 3의 배수가 아닌가?

True
True
True
True
False
False
False

In [6]:
score1 = int(input('필기성적을 입력하세요 :'))
score2 = int(input('실기성적을 입력하세요 :'))

if score1 >= 80 and score2 >=80 :
    print('합격')
else :
    print('불합격')

필기성적을 입력하세요 :1
실기성적을 입력하세요 :1
불합격

In [7]:
score1 = int(input('필기 성적>'))
score2 = int(input('실기 성적>'))

필기 성적>1
실기 성적>1

In [8]:
if ((score1 >= 80) and (score2 >= 80)):
    print('합격')
else:
    print('불합격')

불합격

In [9]:
name = input('이름을 입력하세요 :')
if not name :
    print('이름이 입력되지 않았다.')
else :
    print('이름:%s'%name)

이름을 입력하세요 :1
이름:1

In [10]:
name = input('이름을 입력하세요 :')
if not name :
    print('이름이 입력되지 않았다.')
else :
    print('이름:%s'%name)

이름을 입력하세요 :1
이름:1

In [11]:
# 논리 부정
#name = input('이름 입력>')
name = None
name = input('이름 입력>')

이름 입력>1

In [12]:
if not name :
    print('이름이 입력되지 않았음')
else :
    print('입력된 이름:%s'%name)

입력된 이름:1

In [13]:
# 양수, 0, 음수 판별
n = int(input('정수 입력>'))

정수 입력>1

In [14]:
if n>0 :
    print('%d은/는 양수입니다.' %n)
elif n ==0:
    print('0입니다.')
else :
    print('%d은/는 음수입니다.'%n)

1은/는 양수입니다.

In [15]:
score = int(input('점수 : '))
if score >= 90:
    print('A')
elif score >=80:
    print('B')
elif score >=70:
    print('C')
else:
    print('D')

점수 : 1
D

In [16]:
# 학점
score = int(input('점수>'))

점수>1

In [17]:
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else :
    grade = 'F'

In [18]:
print(score, grade)

1 F

In [19]:
# 세 수의 합과 평균 - 일반적
x = int(input('숫자>'))
y = int(input('숫자>'))
z = int(input('숫자>'))

숫자>1
숫자>1
숫자>1

In [20]:
# 세 수의 합과 평균 - only python
x, y, z = input('세 개의 숫자 입력').split()

세 개의 숫자 입력1

ValueError: not enough values to unpack (expected 3, got 1)

In [ ]:
x, y, z

In [ ]:
int(x),int(y),int(z)

In [ ]:
# 세 수의 합과 평균2 - only python
x, y, z = map(int, input('세 개의 숫자 입력>').split())
x, y, z

# input_str = '76 87 54' = x, y, z
# input.str.split() = ('76','87','54')
# x, y, z = tuple
# map(int, input('76','87','54'))
# => int라는 함수를 각각의 수에 적용시켜라.

In [21]:
sum = x+y+z
avg = sum/3
sum, avg

(3, 1.0)

In [22]:
# 만 나이 계산하기
current_year = 2020
current_month = 8
current_day = 28

In [30]:
birth_year, birth_month, birth_day = map(int,input('생일입력>').split())
birth_year, birth_month, birth_day

생일입력>1996 01 31

(1996, 1, 31)

In [31]:
if current_month > birth_month:
    age = current_year - birth_year
elif current_month < birth_month :
    age = current_year - birth_year - 1
elif current_day < birth_day:
    age = current_year - birth_year - 1
else:
    age = current_year - birth_year

In [32]:
age

24

In [33]:
if current_month > birth_month: # 현재월 > 생월
    age = current_year - birth_year
elif current_month < birth_month : # 현재월 < 생월
    age = current_year - birth_year - 1
else:             #현재월 == 생월
    if current_day < birth_day:  # 현재일 < 생일
        age = current_year - birth_year -1
    elif current_day < birth_day:  # 현재일 >= 생일
        age = current_year - birth_year - 1
    else:
        age = current_year - birth_year
print(age)

24

In [34]:
# 파이썬 datetime module 활용
import datetime
datetime.datetime.now()

datetime.datetime(2020, 8, 28, 12, 16, 47, 363781)

In [35]:
current_year = datetime.datetime.now().year
current_month = datetime.datetime.now().month
current_day = datetime.datetime.now().day
current_year, current_month, current_day

(2020, 8, 28)

In [36]:
birth_year, birth_month, birth_day = map(int,input('생일입력>').split())
birth_year, birth_month, birth_day

생일입력>1996 01 31

(1996, 1, 31)

In [37]:
if current_month > birth_month: # 현재월 > 생월
    age = current_year - birth_year
elif current_month < birth_month : # 현재월 < 생월
    age = current_year - birth_year - 1
else:             #현재월 == 생월
    if current_day < birth_day:  # 현재일 < 생일
        age = current_year - birth_year -1
    elif current_day < birth_day:  # 현재일 >= 생일
        age = current_year - birth_year - 1
    else:
        age = current_year - birth_year
print(age)

24

In [38]:
# 생일 6자리 숫자로 받아서 처리하기
birthday = input('생일 6자리 숫자>')
birth_year = int(birthday[:2])
if birth_year <=20:
    birth_year +=2000
else:
    birth_year +=1900
birth_month = int(birthday[2:4])
birth_day = int(birthday[4:])
birth_year, birth_month, birth_day

생일 6자리 숫자>960131

(1996, 1, 31)

In [39]:
# 생일 6자리 숫자로 받아서 처리하기
birthday = input('생일 6자리 숫자>')
birth_year = int(birthday[:2])
if birth_year <=20:
    birth_year +=2000
else:
    birth_year +=1900
birth_month = int(birthday[2:4])
birth_day = int(birthday[4:])
birth_year, birth_month, birth_day

생일 6자리 숫자>960131

(1996, 1, 31)

In [40]:
# 생일 임의의 연속된 숫자로 받아서 처리하기
birthday = input('생일 (6, 7, 8자리 숫자)>')
if len(birthday)==6:
    birth_year = int(birthday[:2])
    if birth_year <=20:
        birth_year +=2000
    else:
        birth_year +=1900
    birth_month = int(birthday[2:4])
    birth_day = int(birthday[4:])    
elif len(birthday) ==7:
    birth_year = int(birthday[:2])
    if int(birthday[-1])>2 ==2:
        birth_year +=2000
    else:
        birth_year +=1900
    birth_month = int(birthday[2:4])
    birth_day = int(birthday[4:6])    
else:
    birth_year = int(birthday[:4])
    birth_month = int(birthday[4:6])
    birth_day = int(birthday[6:8])
print(birth_year, birth_month, birth_day)

생일 (6, 7, 8자리 숫자)>19960131
1996 1 31

In [41]:
# 짝수/홀수 판별
num =int(input('숫자를 입력하세요 :'))
if num %2 ==0 :
    print('짝수이다.')
else :
    print('홀수이다.')

숫자를 입력하세요 :554
짝수이다.

In [42]:
# 짝수/홀수 판별
num =int(input('숫자를 입력하세요 :'))
if num %2 ==0 :
    print('짝수이다.')
else :
    print('홀수이다.')

숫자를 입력하세요 :555
홀수이다.

In [43]:
age =int(input('나이를 입력하세요 :'))
pay = '3000원'

if age>=65 or age <7 :
    pay = '무료'
    
print('입장료:%s'%pay)

나이를 입력하세요 :4
입장료:무료

In [44]:
age =int(input('나이를 입력하세요 :'))
pay = '3000원'

if age>=65 or age <7 :
    pay = '무료'
    
print('입장료:%s'%pay)

나이를 입력하세요 :62
입장료:3000원

In [45]:
answer = '31326839'
password = input('비밀번호를 입력하세요 :')
if password == answer:
    print('비밀번호 OK!')
else :
    print('비밀번호 Not OK!')

비밀번호를 입력하세요 :31326839
비밀번호 OK!

In [46]:
answer = '31326839'
password = input('비밀번호를 입력하세요 :')
if password == answer:
    print('비밀번호 OK!')
else :
    print('비밀번호 Not OK!')

비밀번호를 입력하세요 :31313
비밀번호 Not OK!

In [47]:
month = int(input('월을 입력하세요 :'))
if month>=3 and month <=5 :
    print('%d월은 봄입니다.'%month)
if month>=6 and month <=8 :
    print('%d월은 여름입니다.'%month)
if month>=9 and month <=11 :
    print('%d월은 가을입니다.'%month)
if month==12 or month ==1 or month==2 :
    print('%d월은 겨울입니다.'%month)

월을 입력하세요 :1
1월은 겨울입니다.

In [ ]:
a =input('좌석 종류를 입력해주세요(1:일반실, 2:특실):')
seat1 ='일반실'
seat2 ='특실'
if a == '일반실' :
    print('%s입니다.'%seat1)
if a == '특실' :
    print('%s입니다.'%seat2)